.portfolio-section {
    background-color: #fff;
    padding-bottom: 120px;

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 47px;
    }

    &__title {
        margin: 0;
        padding-bottom: 12px;
    }

    &__portfolio-slider {
        margin-bottom: 80px;
    }
}

.portfolio-item {
    @include flex-column-center;
    height: 440px;
    overflow: hidden;
    padding-bottom: 23px;
    border-radius: 4px;
    transition: box-shadow 0.4s ease-in-out;
    box-shadow: 
        0 80px 80px -20px rgba(154, 156, 165, 0.08), 
        0 30px 24px -10px rgba(154, 156, 165, 0.05), 
        0 12px 10px -6px rgba(154, 156, 165, 0.04), 
        0 4px 4px -4px rgba(30, 33, 44, 0.03);
    background: #fff;

    &__img {
        border-radius: inherit;
        height: 345px;
        width: 390px;
        transition: height 0.2s ease-in-out;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        color: $ebony;
        line-height: 1.5;
        margin-top: 16px;
    }

    &__descr {
        font-size: 14px;
        line-height: 1.5;
        color: $storm;
        margin-top: 5px;
    }

    &__btn {
       margin-top: 23px;
       transition: opacity 0.4s ease-in-out;
       opacity: 0;
    }

    &:hover {
        .btn {
            opacity: 1;
         }

         img {
            height: 277px;
         }
         
         box-shadow: 
            0 80px 80px -20px rgba(154, 156, 165, 0.16),
            0 30px 24px -10px rgba(154, 156, 165, 0.1),
            0 12px 10px -6px rgba(154, 156, 165, 0.08),
            0 4px 4px -4px rgba(30, 33, 44, 0.05);
    }
}